.text {
  text-align: center;
  justify-content: space-around;
  font-size: 60px;
}
image {
  height: 15px;
  width: 15px;
}

html {
  display: flex;
  justify-content: center;
  align-content: space-around;
}
.button {
  text-align: center;
  display: inline-block;
  margin-left: 195px;
  margin-right: 195px;
  font-size: 15px;
  border: solid 5px;
  margin-bottom: 35px;
}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.model {
  text-align: center;
}
.disclaim {
  text-align: center;
}
#head {
  border-bottom: solid 5px;
}
#box {
  border: solid 5px;
  background-color: #adb5bd;
}
#imag {
  border: solid 5px;
  margin-top: -20px;
}
#head {
  background-color: #adb5bd;
  border: solid 5px;
}
